/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
npm-debug.log
yarn-error.log
.helm-developerc

composer\.lock

supervisord\.log

supervisord\.pid
/public/vendor/telescope

\.env

nginx-php-fpm/laravel-post-install\.log
